# Configuration file

####################
# save_configuration
####################

save_configuration {
    # Default name used for Save_Name. Case Sensitive if OS allows. Beware invalid OS characters.
    S:"Default Save_Name"=New World 1

    # Folder name to Copy Missing Files From. Case Sensitive if OS allows. Beware invalid OS characters.
    S:Import_Name=
    ####################
    # new world 1
    ####################

    "new world 1" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 2
    ####################

    "new world 2" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 3
    ####################

    "new world 3" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 4
    ####################

    "new world 4" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 5
    ####################

    "new world 5" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 6
    ####################

    "new world 6" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 7
    ####################

    "new world 7" {
        S:Save_Name=New World 1
        B:"Sort Creature By Biome - Setting"=true
        B:"Universal Entity CFG - Settings"=false
    }

    ####################
    # new world 10
    ####################

    "new world 10" {
        # Folder name to look for and generate CFG files. Case Sensitive if OS allows. Beware invalid OS characters.
        S:Save_Name=New World 1

        # Determines if Entity CFGs are sorted internally by Entity or Biome.
        B:"Sort Creature By Biome - Setting"=true

        # Specifies if the User wants the Entity CFG to Combined into a Universal CFG.
        B:"Universal Entity CFG - Settings"=false
    }

}


